@{
    ViewData["Title"] = "메인";
}

<div class="text-center">
    <h1 class="display-2">서누론</h1>
    <h3 class="display-4">SeonWooLoan</h3>
    <hr/>
    <a class="btn btn-success" asp-area="" asp-controller="Loan" asp-action="Submit">신청하기</a>
</div>
